body {
font-family: Helvetica, sans-serif;
}a

h1 {
    font-weight: 400;
    font-size: 36px;
}

h2 {
    font-weight: 400;
    font-size: 24px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li.nav_item {
    display: inline;
    background-color: rgb(189, 189, 189);
    padding: 5px 10px;

  }